# Ignorar pastas de cache do Terraform
.terraform/

# Ignorar o estado da infraestrutura (contém segredos e é local)
*.tfstate
*.tfstate.backup
*.tfstate.*

# Ignorar ficheiros de variáveis sensíveis
*.tfvars

# Ignorar logs do sistema
.terraform.lock.hcl

# Node / Frontend
node_modules/
dist/
.env
.env.local